.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.container {
  margin: 0 auto;
  margin-top: 40vh;
  border-radius: 10px;
  max-width: 50%;
  background-color: aliceblue;
}

button {
  background-color: aliceblue;
  outline: 1px solid black;
}